.container_registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  background: #0f0f17;
  gap: 20px; 
}

h1 { 
  color: #66738B;
  font-size: 35px;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 12px;
  background-color: #E1E7EF;
  width: 100%;
  max-width: 400px;  
  margin: 0 auto;   
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

button {
  border-radius: 10px;
  background-color: #65738B;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fffffe; 
}

button:hover {
  opacity: 0.8;
}

input {
  border: 1px solid #48456c;
  border-radius: 10px;
  height: 40px;
  background-color: #363653;
  color: white;
  padding-left: 10px;
  font-size: 16px;
  outline: none;
}


.card {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background: #252547;
  padding: 20px;          
  border-radius: 12px;
  margin: 0 auto;        
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;      
  color: white;
}

.card-info p {
  margin: 4px 0;
  font-size: 15px;
}

.card strong {
  color: #fff;
}

.btn_delete {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn_delete img {
  width: 22px;
  height: 22px;
  transition: transform 0.2s;
}

.btn_delete img:hover {
  transform: scale(1.2);
}

/* --- Mobile --- */

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  form, .card {
    max-width: 100%;   
    padding: 20px;     
  }

  input, button {
    font-size: 14px;
  }
}
